<!-- Pricing Section -->
<section id="pricing" class="container content-section text-center">
    {{ range where .Data.Pages "Section" "pricing" | first 1 }}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br/>
                <br/>
                <h2>{{ .Title }}</h2>
                <br/>
                {{ .Content }}
                <br/>

                {{ $length := len $.Site.Data.pricing }}
                <div class="Rtable Rtable--{{ $length }}cols Rtable--collapse">

                    {{ range $index, $content := $.Site.Data.pricing }}
                        <div style="order:0;" class="Rtable-cell Rtable-cell--head"><h3>{{ $content.name }}</h3></div>
                        {{ range $i, $feature := $content.features}}
                            {{ $c :=add $i 1 }}
                            <div style="order:{{ $c }};" class="Rtable-cell">{{ $feature.name }}</div>
                        {{ end }}
                        {{ $d := len $content.features }}
                        <div style="order:{{ add $d 1 }};" class="Rtable-cell Rtable-cell--foot">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="{{ $content.link }}">
<input type="hidden" name="item_name" value="{{ $content.linkText }} - email delivery <support@quicklog.io>">
<input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-small.png" border="0" name="submit" alt="Check out with PayPal">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
                        </div>

                    {{ end }}
                </div>

                We've even <a href="https://github.com/quicklog-io">open-sourced the core</a> software so you could run your own instance.
                <br/>
                Our pricing model is based on operating it for you, letting you focus on adding core business value.
            </div>
        </div>
    {{ end }}
    </section>

