<!-- Pricing Section -->
<section id="pricing" class="container content-section text-center">
    {{ range where .Data.Pages "Section" "pricing" | first 1 }}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {{ if .Title  }}
                <br/>
                <br/>
                <h2>{{ .Title }}</h2>
                {{ end }}
                <br/>
                {{ .Content }}
                <br/>

                {{ $length := len $.Site.Data.pricing }}
                <div class="Rtable Rtable--{{ $length }}cols Rtable--collapse">

                    {{ range $index, $content := $.Site.Data.pricing }}
                        <div style="order: 0; background: {{ $content.background }}; border: {{ $content.border }};" class="Rtable-cell Rtable-cell--head">
                            <h3 style="color: {{ $content.color }};">{{ $content.name }}</h3>
                        </div>
                        {{ range $i, $feature := $content.features}}
                            {{ $c :=add $i 1 }}
                            <div style="order: {{ $c }}; border: {{ $content.border }};" class="Rtable-cell">{{ $feature.name | safeHTML }}</div>
                        {{ end }}
                        {{ $d := len $content.features }}
                        <div style="order: {{ add $d 1 }}; border: {{ $content.border }};" class="Rtable-cell Rtable-cell--foot">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="{{ $content.link }}">
<input type="hidden" name="item_name" value="{{ $content.linkText }} - email delivery <support@quicklog.io>">
<input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-small.png" border="0" name="submit" alt="Check out with PayPal">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
                        </div>

                    {{ end }}
                </div>
                After check out, you will receive an email with&nbsp;your&nbsp;access&nbsp;information.
                <br/>
                &nbsp;
            </div>
        </div>
    {{ end }}
    </section>

